nav{
    height:60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(45deg, 
    #33ebf8 0%, #506ef7 25%, #9d43f1 50%,#f74edb 75%, #f36098 100%);
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
}
nav h1{
    margin: 10px;
    position: absolute;
    font-size: 35px;
    font-family: 'Lovelo', sans-serif;
    text-transform: uppercase;
    cursor: default;
}
nav section{
    float: right;
    display: inline-flex;
    height: 60px;
    justify-content: right;
    align-items: end;
    gap: 3px;
    padding-right: 10px;
}
nav section div{
    display: inline-block;
    height: 15px;
    padding: 10px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
nav section div a{
    color: #1a1a1a;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
nav section div:nth-child(2){
    background: #000000;
    transition: 0.3s;
}
nav section div:nth-child(2) a{
    color: rgb(255, 255, 255);
}
nav section div:hover{
    background: rgba(58, 58, 58, 70%);
    height: 20px;
    transition: 0.3s;
    transform: scale(1.1);
}
nav section div:hover a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.75s;
}
nav .checkbox {
    height: 20px;
    width: 20px;
    float: right;
    margin: 20px 25px 20px auto;
    cursor: pointer;
    display: none;
}
div#cat {
    margin: 50px 20px 30px 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


@media (max-width: 758px){
    nav {
        padding-left: 5px;
        border-radius: 0px;
    }
    nav .checkbox {
        display: block;
    }
    nav section{
        position: absolute;
        width: 100px;
        height: auto;
        background: linear-gradient(20deg, 
        #33ebf8 0%, #506ef7 25%, #9d43f1 50%,#f74edb 75%, #f36098 100%);
        top: 59px;
        right: 0px;
        z-index: 1;
        border-bottom-left-radius: 20px;
        padding-bottom: 10px;
        display: none;
        transition: 0.8s;
    }
    nav section div{
        text-align: center;
        height: 15px;
        padding: 10px;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    nav section div {
        height: 20px;
        width: 70%;
        border-radius: 0px;
        margin: 5px auto 0px auto;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #check:checked ~ section{
        display: block;
    }
}