
div#cat {
    margin: 50px 20px 30px 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
div#cat section {
    height: 250px;
    width: 200px;
    border-radius: 20px;
    background: linear-gradient(10deg, #000000, #181818, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    cursor: pointer;                                                                                                                         
}
div#cat section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, 
    #33ebf8 0%, #506ef7 25%, #9d43f1 50%,#f74edb 75%, #f36098 100%);
    z-index: -1; /* Coloca la sombra detrás del elemento */
    filter: blur(15px); 
}
div#cat section h2 {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 0;
    z-index: 1;
    background: #000000;
    width: 95%;
}
div#cat section img {
    position: absolute;
    margin: 0;
    width: 95%;
    height: 95%;
    object-fit: fill;
    border-radius: 20px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}
div#cat section:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
div#cat section:hover img{
    filter: grayscale(0%);
}

#carrusel {
    width: 400px;
    height: auto;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
} 
#carrusel ul {
    list-style: none;
    display: flex;
    animation: Carrusel 16s infinite alternate ease-in-out;
}
#carrusel ul img{
    height: 500px;
    width: 400px;
}

@media (max-width: 500px){
    #carrusel {
        width: 300px;
    }
    #carrusel ul img{
        width: 300px;
        height: 400px;
    }
}

@keyframes Carrusel {
    0%{transform: translateX(0%);}
    20%{transform: translateX(0%);}

    25%{transform: translateX(-100%);}
    45%{transform: translateX(-100%);}
    
    50%{transform: translateX(-200%);}
    70%{transform: translateX(-200%);}
    
    75%{transform: translateX(-300%);}
    100%{transform: translateX(-300%);}
}